*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
}

.container{
    width: 100%;
	height: auto;
	display: flex;
	justify-content: space-evenly;
    align-items: center;
	flex-wrap: wrap;
	flex-direction: row;
    overflow: none;
}

.card{
    width: 25rem;
    height: 40rem;
    box-shadow: 0px 0px 7px 3px grey;
    border: 5px solid aliceblue;
    border-radius: 5px;
    padding: 2rem;
    margin: 10rem auto;
    color: antiquewhite;
    text-align: center;
    transition: all(0.5s);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;    
}

.card:hover{
    transform: scale(1.10);
    filter: brightness(1.5s);
    box-shadow: 0px 0px 10px 6px grey;
}

.card-1 {
    background-image: url('/images/background_image_1.jpg');
    background-size: cover;
}

.card-2 {
    background-image: url('/images/Screenshot 2024-10-28 105354.png');
    background-size: cover;
}

.card-3 {
    background-image: url('images/Screenshot 2024-10-28 105424.png');
    background-size: cover;
}

.card-4 {
    background-image: url('images/Screenshot 2024-10-28 105517.png');
    background-size: cover;
}


.sub-box1{
    width: 25rem;
    height: 5rem;
    color:red;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.5);
}


.sub-box2{
    width: 25rem;
    height: 5rem;
    margin-left: 0px;
    color:red;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.5);
}


.sub-box3{
    width: 25rem;
    height: 5rem;
    margin-left: 0px;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.5);
}

.sub-box4{
    width: 25rem;
    height: 5rem;
    margin-left: 0px;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black 0.5%;
}

.circle{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: linear-gradient(to top, blue, skyblue, white);
	box-shadow: 0px 0px 10px 2px blue;
	margin: 60px auto;
	line-height: 44px;
	text-align: center;
	font-size: 25px;
	font-weight: 400;
	color: white;
}

.c1{
    background: linear-gradient(to top, red, orange, white);
	box-shadow: 0px 0px 10px 2px red;
}

.c2{
    background: linear-gradient(to top, rgb(119, 31, 181), blue, white);
    box-shadow: 0px 0px 10px 2px rgb(119, 31, 181);
}

.c3{
    background: linear-gradient(to top, rgb(4, 87, 4), green, white);
    box-shadow: 0px 0px 10px 2px rgb(4, 87, 4);
}